* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header section */
#title {
  width: 100%;
  font-family: "Volkhov", serif;
  background: url(../images/Decore.png);
  background-repeat: no-repeat;
  background-position: right;
}
.navbar-item {
  padding: 0 1.5rem;
}
.navbar-item a {
  color: #212832;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}
.navbar-item button {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #212832;
}

/* Hero Section */
.decore1 {
  position: absolute;
  top: 25%;
  left: 23%;
  z-index: -1;
}
.hero-text {
  font-family: "Poppins", sans-serif;
  color: #df6951;
  font-size: 1.25rem;
  font-weight: bold;
}
.hero-title {
  font-size: 5.25rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 5.56rem;
}
.hero-descrition {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #5e6282;
  line-height: 1.875rem;
  font-weight: 500;
}
.buttons {
  margin-top: 2rem;
}
.find-btn {
  padding: 1.1875rem 1.6875rem;
  background-color: #f1a501;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}
.demo-btn {
  justify-content: center;
}
.demo-btn {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.demo-btn i {
  color: #df6951;
  font-size: 3.5rem;
}
.hero-img {
  position: relative;
  z-index: 2;
}
.plane1 {
  position: absolute;
  top: 3%;
  right: 30%;
}
.plane2 {
  position: absolute;
  right: -3%;
  top: 10%;
  z-index: 1;
}
/* Catagory */
#catagory {
  margin-top: 6rem;
  margin-bottom: 3rem;
  position: relative;
}
.catagory-text {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #5e6282;
  font-weight: 600;
  size: 1rem;
}
.catagory-title {
  font-family: Volkhov;
  font-size: 3rem;
  font-weight: bold;
}

.decore2 {
  position: absolute;
  bottom: -5%;
  left: 23%;
  z-index: -1;
}
.cards {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 2.2rem;
}
.card-image {
  width: 6.13rem;
  height: 4.87rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.card-intro {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
.card-description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.62rem;
}
